#social-media img {
    width: 30px;
    height: 30px;
    margin: auto 0;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    border-top: solid 1px black;
    width: 100%;
    padding: 20px;
    margin-top: 10%;
}

#social-media {
    display: flex;
    gap: 15px;
    margin: auto 0;
    margin-right: 5%;
}

footer p {
    margin: auto 0;
    margin-left: 5%;
}

#social-media p {
    width: 80px;
}

