body, html {
    font-family: "Outfit", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#question-title {
    font-size: 50px;
    text-align: center;
}

#question-area {
    font-size: 20px;
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.choose-category {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.choose-category input {
    padding: 20px;
    font-family: "Outfit", sans-serif;
}

.choose-category select {
    padding: 20px;
    font-family: "Outfit", sans-serif;
}

.choose-category span {
    color: blue;
    cursor: pointer;
}

.choose-category span:hover {
    text-decoration: underline;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10%;
}

.image-upload {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-label {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.image-label-container {
    width: 80%;
    height: 100px;
    margin: auto;
    align-items: center;
}

.image-label-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.image-label p {
    font-size: 15px;
}

.image-upload input {
    width: fit-content;
    padding: 0;
    margin: 0 auto;
}

.enter-question {
    padding: 20px;
    font-family: "Outfit", sans-serif;
}

.answers {
    display: flex;
    gap: 20px;
    width: 40%;
    margin-bottom: 20px;
}

.answers label {
    display: flex;
    gap: 20px;
    flex: 1;
}

.question-choice {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.answers label textarea {
    width: 100%;
    padding: 20px;
    font-family: "Outfit", sans-serif;
}

.answers input {
    width: fit-content;
    margin: auto 0;
}

label p {
    height: fit-content;
    margin: auto 0;
}

#question-area button {
    font-family: "Outfit", sans-serif;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(38, 38, 243);
    border: none;
}

#question-area button:hover {
    background-color: rgb(78, 78, 243);
    font-weight: bold;
}

#more-question {
    display: flex;
    justify-content: right;
}

#more-question p {
    font-family: "Outfit", sans-serif;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    background-color: rgb(38, 38, 243);
    border: none;
}

#more-question p:hover {
    background-color: rgb(78, 78, 243);
    font-weight: bold;
    cursor: pointer;
}


