@import url("category.css");
@import url("../Component/alert.css");
@import url("../Component/success.css");
@import url("../Component/pagination.css");

.list-info p {
    font-size: 15px !important;
    margin: 0 !important;
}

.list-info h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-bottom: 0;
    width: 90%;
}

.list-info {
    padding: 0;
}

.category {
    width: 30%;
}

.quiz-information {
    margin: auto;
}

.quiz-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quiz-info p {
    font-weight: bold;
    margin-left: 0;
}

.quiz-info span {
    font-weight: normal;
    border: none;
    border-radius: 0;
    background-color: white;
}