@import url("../Component/alert.css");
@import url("../Component/success.css");

body, html {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#quiz-section {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 5%;
}

#quiz-information {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

#quiz-button {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#quiz-button a {
    font-family: "Outfit", sans-serif;
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(38, 38, 243);
    border: none;
    text-align: center;
    text-decoration: none;
}

#quiz-button a:hover {
    font-weight: bold;
    background-color: rgb(78, 78, 243);
}

#quiz-information h1 {
    margin: 0;
}

#quiz-information p {
    margin: 0;
}

#your-attempt {
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}

#attempts-information {
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    font-size: 20px;
    gap: 20px;
    justify-content: center;
}

.attempt {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    margin-bottom: 5%;
}

.attempt p {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.attempt h2 {
    margin: 0;
}

.label {
    font-weight: bold;
    background-color: #f2f2f2;
    text-align: right;
}

table tr td {
    border-style: ridge;
}

.attempt a {
    text-decoration: none;
    font-size: 15px;
    color: blue;
}

.attempt a:hover {
    text-decoration: underline;
}
