@import url(/styles/Component/pop_up.css);
@import url(/styles/Component/password_require.css);
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: "Outfit", sans-serif;
}

#reset_password {
    width: auto;
    height: auto;
    margin: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5%;
    z-index: 0;
}

#title {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

#instruction {
    font-size: 20px;
    margin-top: 5%;
    text-align: center;
}

#form_input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#form_input input {
    border-radius: 5px;
    border: groove 2px;
    width: 493px;
    height: 52px;
    justify-self: center;
    font-family: "Outfit", sans-serif;
}

#continue_button {
    background-color: #4A3AFF;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    width: 493px;
    height: 60px;
    margin-top: 10%;
}

::placeholder {
    font-family: "Outfit", sans-serif;
}

#continue_button:hover {
    background-color: #6c5ffb;
}

#show_password {
    margin-top: 5%;
}

#sign_in_nav {
    background-color: #4A3AFF;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    width: 493px;
    height: 60px;
    margin-top: 10%;
}

::-ms-reveal {
    display: none;
}




