@import url("../Component/alert.css");

body, html {
    font-family: "Outfit", sans-serif;
    width: 100%;
    padding: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sign_in {
    width: 30%;
    height: fit-content;
    padding: 5% 30px 5% 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 0;
}

#introduction {
    font-family: "Outfit", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.input_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_box input {
    font-family: "Outfit", sans-serif;
    padding: 20px;
    border-radius: 15px;
}

#forgot_password {
    text-align: right;
}

#sign_in_button {
    font-family: "Outfit", sans-serif;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(38, 38, 243);
    border: none;
}

#sign_in_button:hover {
    background-color: rgb(78, 78, 243);
    font-weight: bold;
}

#or {
    text-align: center;
}

.social_image img {
    width: 50px;
    height: 50px;
}

.social_image {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#register {
    margin: 0;
}





